bitsandbytes==0.41.0
decord
einops==0.6.1
einops-exts==0.0.4
huggingface_hub
imageio
numpy==1.26.2
opencv-python
orjson
pycocoevalcap
pyyaml
scikit-learn>=1.2.2
scipy
sentencepiece==0.1.99
shortuuid
termcolor
timm==0.9.12
tokenizers==0.15.1
tqdm
yacs
psutil